.content {
  width: 85%;
  min-height: 750px;
  min-width: 600px;
  background-color: $secondary-color;

  > * {
    padding-left: 30px;
  }

  h1 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2rem;
    padding-top: 25px;
  }

  p {
    font-size: 1.75rem;
    width: 55%;
    min-width: 550px;
    line-height: 200%;
  }

  ul, ol, dl {
    font-size: 1.75rem;
    width: 55%;
    min-width: 550px;
    line-height: 200%;
    list-style-type: square;
    padding-left: 45px;
  }

  img, video {
    height: 350px;
    width: 550px;
    margin-bottom: 30px;
  
  }

  a {
    color: $primary-color;
  }

}